body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}

h1 {
    font-size: 50px;
}

.junayed {
    color: orangered;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    text-align: justify;
    margin-bottom: 150px;
}

.half-width img {
    width: 80%;
    padding-left: 15%;
}

.half-width2 img {
    width: 80%;
    padding-right: 15%;
    margin-left: 20px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: rebeccapurple;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}

.top-banner {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-size: 1.8cm;
    background-position-x: 10px;
    background-position-y: center;
}

.half-width p {
    margin-right: 100px;
}

.dreambig {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: center;
    background-size: 1.8cm;
    margin-bottom: 100px;
}

.experiences-area {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: center;
    background-size: 1.8cm;
}

.experiences-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    border-radius: 20px;

    padding: 30px;
    text-align: justify;
    box-shadow: 10px 10px 40px gray;
}

#exp {
    text-align: center;
}

#full {
    border-left: 7px solid blueviolet;

}

#baby {
    border-left: 7px solid red;

}

footer p {
    text-align: center;
    margin-bottom: 10px;
}